# CT画像の読み込み

各ファイルについて
- candidates.csv  
  CTデータの系列が何であるか、結節候補の座標情報、候補が実際に結束であるか否かのフラグを示す。

In [5]:
# 頭に！をつけることでlinuxコマンドを実行できる、行数を数える
!wc -l ./data/candidates.csv

  551066 ./data/candidates.csv

In [58]:
! head -n 2 data/candidates.csv

1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222365663678666836860,-56.08,-67.85,-311.92,0

In [34]:
! grep ',1$' ./data/candidates.csv | wc -l

       0

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/candidates.csv')
data.head()

,seriesuid,coordX,coordY,coordZ,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0

In [6]:
data.shape

(551065, 5)

In [8]:
data.columns

Index(['seriesuid', 'coordX', 'coordY', 'coordZ', 'class'], dtype='object')

In [15]:
(data['class'] == 1).sum()

1351